.jumbotron{
    background-color:rgb(207,207,219);
    color: black;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.product-card{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-ver_mas{
    width: 100%;
    background-color: rgb(20,212,165);
    color: white;
}

.footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(87,104,135);
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

.footer-icon{
    padding-right: 10px;
}
